doctype html
html
  head(lang="en")
    title #{locals.pageTitle}
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
    link(rel="stylesheet", href="style.css", type="text/css")
  body
    header
      .hero
        h1 #{locals.firstName} is the new p!

        .welcome-blurb
          p.
            There's a new #{locals.jobTitle} in town and #{locals.pronoun} name is #{locals.firstName}.
          p.
            Let's give #{locals.pronoun} a big welcome to the Prolific Family!

        .portrait-area
          .portrait-image
            img(src="#{locals.image}", alt="A picture")
          .portrait-text
            .portrait-name
              p #{locals.firstName} #{locals.lastName}
            .portrait-position
              p #{locals.jobTitle}
            .portrait-email
              p #{locals.email}

      .main-content
        ul
        each section in locals.sections
          li.section(class=section.class) 
            h3 #{section.title}
            if section.type
              if section.type == "favoriteApps"
                ul
                  each value in section.content
                    li #{value}

              if section.type == "truthsAndALie"
                ul
                  each value in section.content
                    div.box 
                      p #{value}

              if section.type == "stats"
                ul
                  each stat in section.content
                    div.box 
                      p #{stat.name}
                      p #{stat.value}
            else
              p #{section.content}

    footer
      .closing-graphic
